<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dynamic.dao.DynamicQueryDao">

	<select id="select" resultType="hashmap">
	
		SELECT * FROM test_member
		
		<if test="false">
		ORDER BY no
		</if>
		
	</select>
	
	<resultMap type="web.dto.Emp" id="Emp">
	</resultMap>
	
	
	<select id="select2" parameterType="string" resultType="web.dto.Emp">
		SELECT * FROM emp
		<if test='ename != null and !ename.equals("")'>
		WHERE ename LIKE '%' || #{ename} || '%'
		</if>
	</select>

	<select id="select3" parameterType="web.dto.Emp" resultType="web.dto.Emp">
		SELECT * FROM emp
		WHERE 1=1
		<if test='empno != null'>
		AND empno = #{empno}
		</if>
		<if test='ename != null and !ename.equals("")'>
		OR ename LIKE '%' || #{ename} || '%'
		</if>
	</select>

	<select id="select4" resultType="web.dto.Emp" parameterType="hashmap">
		SELECT * FROM emp
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		<choose>
			<when test="category.equals('ename')">
			AND ename = #{keyword}
			</when>
			<when test="category.equals('job')">
			AND job = #{keyword}
			</when>
		</choose>
		</trim>
	</select>
	
	
	<!-- trim 태그 사용 예시 1 -->
<!-- 	<select id="select4"> -->
<!-- 		SELECT * FROM emp -->
<!-- 		WHERE deptno = 10 -->
<!-- 		<trim prefix="AND (" prefixOverrides="OR" suffix=")"> -->
<!-- 		<if test="job != null"> -->
<!-- 		OR job LIKE '%' || #{job} || '%' -->
<!-- 		</if> -->
<!-- 		<if test="sal != null"> -->
<!-- 		OR sal > #{sal} -->
<!-- 		</if> -->
<!-- 		</trim> -->
<!-- 	</select> -->
	
	<!-- trim 태그 사용 예시 2 -->
<!-- 	<update id="update"> -->
<!-- 		UPDATE emp -->
<!-- 		<trim prefix="SET" suffixOverrides=",">		 -->
<!-- 			<if test="ename != null"> -->
<!-- 			ename = #{ename}, -->
<!-- 			</if> -->
<!-- 			<if test="job != null"> -->
<!-- 			job = #{job}, -->
<!-- 			</if> -->
<!-- 			<if test="deptno != null"> -->
<!-- 			deptno = #{deptno}, -->
<!-- 			</if> -->
<!-- 		</trim> -->
<!-- 		WHERE empno = #{empno} -->
<!-- 	</update> -->


	<select id="selectCheckbox"
	 parameterType="hashmap"
	 resultType="EmpDTO">
<!-- 	 resultType="web.dto.Emp"> -->
	 
	 	SELECT * FROM emp
	 	
	 	<if test="deptnoArr != null">
	 	WHERE deptno IN
	 	<foreach collection="deptnoArr" item="deptno"
	 	 open="(" close=")" separator=",">
	 		#{deptno}
	 	</foreach>
	 	</if>
	 
	</select>

</mapper>
